@charset "utf-8";

@import url('reset.css');
@import url('layout.css');
@import url('board.css');

/* common */
.aln_center{ text-align:center !important;}
.aln_left{ text-align:left !important;}
.aln_right{ text-align:right !important;}
.aln_middle{ vertical-align:middle !important;}
.floatL{ float:left !important;}
.floatR{ float:right !important;}

/* box */
.box01{ border:#dcddde 6px solid; position:relative;}
.box01 .bg1{ position:absolute; display:block; background:url(../images/common/bg_corner.gif) 0 0 no-repeat; width:20px; height:20px; top:-6px; left:-6px; z-index:99;}
.box01 .bg2{ position:absolute; display:block; background:url(../images/common/bg_corner.gif) -20px 0 no-repeat; width:20px; height:20px; top:-6px; right:-6px; z-index:99;}
.box01 .bg3{ position:absolute; display:block; background:url(../images/common/bg_corner.gif) 0 -20px no-repeat; width:20px; height:20px; bottom:-6px; left:-6px; z-index:99;}
.box01 .bg4{ position:absolute; display:block; background:url(../images/common/bg_corner.gif) -20px -20px no-repeat; width:20px; height:20px; bottom:-6px; right:-6px; z-index:99;}
.box02{ border:#e5e5e5 1px solid; position:relative; padding:18px 20px;}
.box03{ padding:25px 30px; position:relative; background:#fcfcfc; }
.box03 .bg1{ position:absolute; display:block; background:url(../images/common/bg_corner2.gif) 0 0 no-repeat; width:10px; height:10px; top:0; left:0; z-index:99;}
.box03 .bg2{ position:absolute; display:block; background:url(../images/common/bg_corner2.gif) -10px 0 no-repeat; width:10px; height:10px; top:0; right:0; z-index:99;}
.box03 .bg3{ position:absolute; display:block; background:url(../images/common/bg_corner2.gif) 0 -10px no-repeat; width:10px; height:10px; bottom:0; left:0; z-index:99;}
.box03 .bg4{ position:absolute; display:block; background:url(../images/common/bg_corner2.gif) -10px -10px no-repeat; width:10px; height:10px; bottom:0; right:0; z-index:99;}
.box04{ border:#f6f6f6 1px solid; position:relative; }
.box04 .bg1{ position:absolute; display:block; background:url(../images/common/bg_corner4.gif) 0 0 no-repeat; width:10px; height:10px; top:-1px; left:-1px; z-index:99;}
.box04 .bg2{ position:absolute; display:block; background:url(../images/common/bg_corner4.gif) -10px 0 no-repeat; width:10px; height:10px; top:-1px; right:-1px; z-index:99;}
.box04 .bg3{ position:absolute; display:block; background:url(../images/common/bg_corner4.gif) 0 -10px no-repeat; width:10px; height:10px; bottom:-1px; left:-1px; z-index:99;}
.box04 .bg4{ position:absolute; display:block; background:url(../images/common/bg_corner4.gif) -10px -20px no-repeat; width:10px; height:10px; bottom:-1px; right:-1px; z-index:99;}
.box05{ border:#f6f6f6 2px solid; position:relative;}
.box05 .bg1{ position:absolute; display:block; background:url(../images/common/bg_corner5.gif) 0 0 no-repeat; width:12px; height:12px; top:-2px; left:-2px; z-index:99;}
.box05 .bg2{ position:absolute; display:block; background:url(../images/common/bg_corner5.gif) -12px 0 no-repeat; width:12px; height:12px; top:-2px; right:-2px; z-index:99;}
.box05 .bg3{ position:absolute; display:block; background:url(../images/common/bg_corner5.gif) 0 -12px no-repeat; width:12px; height:12px; bottom:-2px; left:-2px; z-index:99;}
.box05 .bg4{ position:absolute; display:block; background:url(../images/common/bg_corner5.gif) -12px -12px no-repeat; width:12px; height:12px; bottom:-2px; right:-2px; z-index:99;}
.box06{ position:relative; background-color:#e9e9e9; padding:12px;}
.box06 .bg1{ position:absolute; display:block; background:url(../images/common/bg_corner6.gif) 0 0 no-repeat; width:12px; height:12px; top:0; left:0; z-index:99;}
.box06 .bg2{ position:absolute; display:block; background:url(../images/common/bg_corner6.gif) 100% 0 no-repeat; width:12px; height:12px; top:0; right:0; z-index:99;}
.box06 .bg3{ position:absolute; display:block; background:url(../images/common/bg_corner6.gif) 0 100% no-repeat; width:12px; height:12px; bottom:0; left:0; z-index:99;}
.box06 .bg4{ position:absolute; display:block; background:url(../images/common/bg_corner6.gif) 100% 100% no-repeat; width:12px; height:12px; bottom:0; right:0; z-index:99;}
.boxDot{ background:url(../images/common/box_dot.gif) 0 0 no-repeat; padding:10px 0 0 0;}
.boxDot .inner{ background:url(../images/common/box_dot.gif) 0 100% no-repeat; padding:0 10px 10px 10px;}

.commentBox{ background:url(../images/common/coment_box.gif) 0 0 no-repeat; width:690px; height:129px; margin:24px auto;}
.commentBox ul{ padding:30px 0 0 198px;}

.scrollBx{ border:#e5e5e5 1px solid; overflow-y:auto; padding:20px; color:#000;}
.noBrd{ border:none !important;}
.divLine{ background:url(../images/common/blt_line.gif) 0 50% repeat-x; height:10px;}

/* ul list */
ul.ulLst01{ overflow:hidden;}
ul.ulLst01 li{ margin:4px 0; padding-left:12px; background:url(../images/common/blt_dot.gif) 0 6px no-repeat;}
ul.ulLst02{ overflow:hidden;}
ul.ulLst02 li{ margin:4px 0; padding-left:12px; background:url(../images/common/blt_dot1.gif) 0 6px no-repeat;}
ul.ulLst03{ overflow:hidden;}
ul.ulLst03 li{ margin:4px 0; padding-left:12px; background:url(../images/common/blt_dot6.gif) 0 6px no-repeat;}
ul.ulLst04{ overflow:hidden;}
ul.ulLst04 li{ margin:4px 0; padding-left:12px; background:url(../images/common/blt_dot4.gif) 0 50% no-repeat;}
ul.ulReg{ overflow:hidden;}
ul.ulReg li{ margin:5px 0; position:relative; padding-left:92px; line-height:35px;}
ul.ulReg li .titTx{ position:absolute; top:0; left:0; line-height:35px; font-weight:bold;}


/* tab */
.divTab{ overflow:hidden;}
.divTab .tab01{ overflow:hidden; height:38px;}
.divTab .tab01 li{ float:left; display:table; height:38px;vertical-align:middle; margin:0 3px 0 0;}
.divTab .tab01 li a{ width:110px; text-align:center; background:url(../images/common/bg_tab.gif) -110px 0 no-repeat; vertical-align:middle;  height:30px; display:table;color:#fff; padding:0 0 8px 0; }
.divTab .tab01 li a span{display:table-cell; color:#fff; font-weight:bold; line-height:1.2em;vertical-align:middle;}
.divTab .tab01 li a.on,
.divTab .tab01 li a:hover{background:url(../images/common/bg_tab.gif) 0 0 no-repeat; padding:0; height:38px;}

/* titarea */
.titArea{ position:relative;}
.titArea .right{ position:absolute; top:0; right:0;}

/* member */
.loginBox{ width:536px; *width:456px; margin:0 auto; padding:30px 40px 20px 40px;}
.loginBox .txt01{ border-bottom:#f7f7f7 1px solid; padding:0 0 15px 0; margin:0;}
.loginBox ul{ padding:12px 0 0 0;}
.loginBox ul li{ margin:11px 0;}
.loginBox ul li img{ vertical-align:middle;}
.loginBox ul li label{ display:inline-block; width:62px;}
.loginBox ul li .input{ width:250px; *width:240px; height:40px; border:none; background:transparent url(../images/member/bg_inp.gif) 0 0 no-repeat; padding:0 0 0 10px; line-height:40px;}
.loginBox ul li.saveTx{ margin:10px 0 0 0; padding:0 0 0 62px;}
.loginBox ul li.saveTx input{ margin-top:-3px;}
.loginBox .btLogin{ position:absolute; top:85px; right:36px;}
.loginBt{ width:490px; margin:15px auto 45px; position:relative;}
.loginBt li{ margin:2px 0;}
.loginBt li img{ vertical-align:middle;}
.loginBt li span{ background:url(../images/common/blt_dot.gif) 0 6px no-repeat; padding-left:10px; width:155px; display:inline-block;}
.loginBt li.btPay{ position:absolute; top:0; right:0; margin:0;}
.loginBanner{ text-align:center;}

.idFindBox{ width:770px; overflow:hidden; margin:0 auto;}
.idFindBox .fLeft{ width:358px; height:460px; float:left;}
.idFindBox .fRight{ width:358px; height:460px; float:right;}
.idFindBox h3{ margin:38px 20px 10px; padding:0;}
.idFindBox .tx01{ margin:0 20px; padding:0; height:66px; border-bottom:#f8f8f8 1px solid;}
.idFindBox .formFind{ border-bottom:#f8f8f8 1px solid; height:222px; margin:0 20px;}
.idFindBox .divChk{ padding:40px 0 18px;}
.idFindBox .divChk input{ vertical-align:middle; margin-top:-3px;}
.idFindBox ul li{ margin:5px 0;}
.idFindBox ul li label{ width:54px; display:inline-block;}

.findResult{ width:557px; margin:0 auto; padding:35px 100px;}
.findResult .tx01{ text-align:center; color:#58595b; font-size:16px; font-weight:bold; padding:0 0 25px 0;}
.findResult .tx02{ text-align:center; color:#0054de; font-size:12px; font-weight:bold; background:#fcfcfc; margin:0; line-height:80px;}
.findResult .tx03{text-align:center; color:#58595b; font-size:16px; font-weight:bold; padding:0; line-height:130px;}
.findResult .loginBt{ width:285px; margin:30px auto 0;}
.findResultLst{ background:url(../images/member/result_box.gif) 0 0 no-repeat; width:757px; height:129px; margin:24px auto;}
.findResultLst ul{ padding:30px 0 0 240px;}
.findResultLst2{ background:url(../images/parent/result_box.gif) 0 0 no-repeat; width:690px; height:129px; margin:24px auto;}
.findResultLst2 ul{ padding:30px 40px 0 200px;}

.join01_hd{ text-align:center;}
.joinWrap{ width:870px; margin:0 auto;}
.joinWrap .divChk{ border-bottom:#f6f6f6 1px solid; padding:10px;}
.joinWrap .brdB{border-bottom:#f6f6f6 1px solid; padding-bottom:20px;}
.join03Bt{ width:100%; text-align:center; padding:25px 0 0 0;}
.join03Bt li{ display:inline; margin:0 5px;}


/* 카테고리 */
.conLst{ overflow:hidden; clear:both; margin:0; padding:0; background:url(../images/content/bg_box.gif) 0 0 no-repeat; height:675px;}
.conLst.english{ background:url(../images/content/bg_box_2.gif) 0 0 no-repeat; }
.conLst.math{ background:url(../images/content/bg_box_3.gif) 0 0 no-repeat; }
.conLst.song{ background:url(../images/content/bg_box_4.gif) 0 0 no-repeat; }
.conLst.story{ background:url(../images/content/bg_box_5.gif) 0 0 no-repeat; }
.conLst.print{ background:url(../images/content/bg_box_6.gif) 0 0 no-repeat; }
.conLst ul{ padding:40px 20px 0 34px; overflow:hidden;}
.conLst li{ float:left; border:#f1f2f2 2px solid; position:relative; width:155px; height:148px; margin:6px;}
.conLst li .photo,.conLst li .photo img{ width:155px; height:115px;}
.conLst li .divChk{ padding:6px 8px;}
.conLst li .divChk input{ vertical-align:middle;}
.conLst li span.bg1{ display:block; position:absolute; top:-2px; left:-2px; background:url(../images/common/bg_corner3.png) 0 0 no-repeat; z-index:10; width:10px; height:10px;}
.conLst li span.bg2{ display:block; position:absolute; top:-2px; right:-2px; background:url(../images/common/bg_corner3.png) 100% 0 no-repeat; z-index:10; width:10px; height:10px;}
.conLst li span.bg3{ display:block; position:absolute; bottom:-2px; left:-2px; background:url(../images/common/bg_corner3.png) 0 100% no-repeat; z-index:10; width:10px; height:10px;}
.conLst li span.bg4{ display:block; position:absolute; bottom:-2px; right:-2px; background:url(../images/common/bg_corner3.png) 100% 100% no-repeat; z-index:10; width:10px; height:10px;}
.conLst .paginate_complex{ height:55px;}
.conLst .btnSc{ padding:0 35px;}

.conVew{ overflow:hidden; background:url(../images/content/bg_box_1.gif) 0 0 no-repeat; height:825px; padding:44px 50px 0 50px;}
.conVew h3{ background:url(../images/common/blt_line.gif) 0 100% repeat-x; padding:0 0 10px 0; margin:0 0 20px 0;}
.conVew h3 span{ background:url(../images/common/blt_dot2.gif) 0 0 no-repeat; padding:0 0 0 40px; color:#58595b; font-size:15px; font-weight:bold; display:inline-block; height:26px; line-height:26px;}
.conVew .conMov{ text-align:center; width:740px; height:469px; margin:0 auto; background:url(../images/content/bg_mov.gif) 0 0 no-repeat; padding:9px 0 0 0;}
.movState{ width:740px; margin:22px auto 0; height:156px;}
.movState .box04{ width:330px; height:90px; padding:15px;}
.movState .leftWrap{ float:left;}
.movState .rightWrap{ float:right;}
.movState .box04 h4{ background:url(../images/common/blt_dot3.gif) 0 4px no-repeat; padding-left:10px; margin:0 0 8px 0; color:#868686; font-weight:bold; font-size:13px;}
.movState .box04 .txt{ padding:10px; background:url(../images/common/blt_line.gif) 0 0 repeat-x;}
.movState .box04 .btMore{ position:absolute; top:15px; right:15px;}
.conVew .btnSc{ padding:0 35px;}

/* 고객센터 */
.eventWr{ overflow:hidden;}
.eventWr ul{ margin:0 0 0 -30px; overflow:hidden; background:url(../images/common/blt_line2.gif) 375px 0 repeat-y;}
.eventWr li{ float:left; width:330px; padding:20px 0 20px 30px; background:url(../images/common/blt_line.gif) 0 100% repeat-x;}
.eventWr li .eveHd{ position:relative; height:21px;}
.eventWr li .eveHd .blt{ position:absolute; top:0; right:0;}
.eventWr li .thum{ background:url(../images/customer/event_bg.gif) 0 0 no-repeat; height:131px; padding:6px 0 0 12px;}
.eventWr li .eventTx{ padding:0 0 0 10px; margin:5px 0 0 0;}
.eventWr li .eventTx a{ background:url(../images/common/blt_dot.gif) 0 6px no-repeat; display:block; padding-left:8px; }

.faqLst{ overflow:hidden; border-top:#c2c2c2 2px solid;}
.faqLst li{ border-bottom:#e3e3e3 1px solid;}
.faqLst li .fa{ position:relative; padding:7px 10px 6px 110px;}
.faqLst li .divA{ position:relative; padding:7px 10px 30px 110px; background:#fdfdfd url(../images/common/blt_aw.gif) 663px 100% no-repeat;}
.faqLst li .bltQ{ position:absolute; top:0; left:0; width:80px; text-align:center; background:url(../images/common/blt_var4.gif) 100% 50% no-repeat; height:30px; line-height:30px;}
.faqLst li .bltA{ position:absolute; top:0; left:0; width:80px; text-align:center; background:url(../images/common/blt_var4.gif) 100% 50% no-repeat; height:30px; line-height:30px; color:#fb7c00; font-weight:bold;}
.faqLst li .fa#on{color:#fb7c00; border-bottom:#e3e3e3 1px solid;}
.faqLst li .fa#on .bltQ{ color:#fb7c00; font-weight:bold;}


/* mypage */
.memExit{ padding:35px 50px;}
.memExit .tx01{ color:#939598; font-size:14px; font-weight:bold; text-align:center; padding:0 0 25px 0;}
.exitForm{ position:relative; padding:23px 0 30px 60px;}
.exitForm li{ margin:10px 0;}
.exitForm li .input{width:240px; height:40px; border:none; background:transparent url(../images/mypage/bg_inp.gif) 0 0 no-repeat; padding:0 0 0 10px; line-height:40px;}
.exitForm .btExit{ position:absolute; top:30px; left:386px;}

.mypageTx01{ background:url(../images/mypage/boxTx.gif) 0 0 no-repeat; height:32px; line-height:32px; padding-left:25px; position:relative;}
.mypageTx01 .right{ position:absolute; top:5px; right:20px;}
.mypageRow{ overflow:hidden; margin:25px 0 0 0;}
.mypageRow dl{ width:334px; float:left; border-top:#c2c2c2 2px solid; border-bottom:#c2c2c2 2px solid;}
.mypageRow dl dt{ border-bottom:#e3e3e3 1px solid; background:#fbfbfb; height:33px; position:relative; line-height:33px; padding:0 0 0 20px; color:#414042; font-weight:bold;}
.mypageRow dl dt .btVew{ position:absolute; top:8px; right:10px;}
.mypageRow dl dd{ height:120px;}
.mypageRow dl.floatR ul.ulLst04 li{ padding-left:20px;}
.mypageRow dl.floatR ul.ulLst04.brdB li{ margin:0; padding-left:32px; background:url(../images/common/blt_dot4.gif) 20px 50% no-repeat; border-bottom:#e3e3e3 1px solid; line-height:29px; height:29px;}
.mypageRow dl.floatR ul.ulLst04.brdB li span{ float:right; width:64px; display:block; text-align:center;}

.mypageLst{ overflow:hidden; background:url(../images/common/blt_line.gif) 0 100% repeat-x; padding:30px 0;}
.mypageLst li{ float:left; background: url(../images/mypage/mypagrLstBg.gif) no-repeat; height:65px; width:213px; margin:0 0 0 25px; padding:132px 0 0 0; text-align:center;}
.mypageLst li.mn01{ margin:0;}
.mypageLst li.mn02{ background-position:-239px 0;}
.mypageLst li.mn03{ background-position:-477px 0;}

.myPageStep{ background:url(../images/mypage/step_lst.gif) no-repeat; height:57px; overflow:hidden;}
.myPageStep.step02{ background-position:0 -100px;}
.myPageStep.step03{ background-position:0 -200px;}
.myPageStep li{ text-indent:-9999px; display:block; width:33%; height:57px;}

.payHd{ border-top:#c2c2c2 2px solid; background:#e0f6f7; text-align:center; height:68px; line-height:68px; color:#333;}
.btPayDiv{ overflow:hidden; width:100%; margin:10px 0 0 0; padding:0;}
.btPayDiv ul{ padding-left:20%;}
.btPayDiv ul li{ width:25%; float:left; text-align:center;}
.btPayDiv ul li.typ2{ width:100%;}

.pay03Wr{ overflow:hidden; padding:35px 25px;}
.pay03Wr .txt01{ text-align:center; font-size:14px; color:#58595b; font-weight:bold; padding:0 0 25px 0;}
.pay03Wr .box04{ padding:20px;}


/* 부모방 */
.parentWr{ background:url(../images/common/blt_line2.gif) 50% 0 repeat-y; overflow:hidden;}
.parentWr .divRow01{ float:left; width:320px; padding:20px 25px 20px 0; background:url(../images/common/blt_line.gif) 0 100% repeat-x; height:120px;}
.parentWr .divRow02{ float:right; width:320px; padding:20px 0 20px 25px; background:url(../images/common/blt_line.gif) 0 100% repeat-x; height:120px;}
.parentWr .divRow02 .box05{ padding:8px 0;}
.parentWr .divRow03{ float:left; width:320px; padding:20px 25px 20px 0; height:230px;}
.parentWr .divRow03 ul{ border-top:#dbdbdb 2px solid;border-bottom:#dbdbdb 1px solid;}
.parentWr .divRow03 ul li{ padding:0 20px; border-bottom:#dbdbdb 1px solid;}
.parentWr .divRow03 ul li a{ display:block; background: url(../images/common/blt_dot5.gif) 0 14px no-repeat; padding-left:10px; line-height:30px;}
.parentWr .divRow04{ float:right; width:320px; padding:20px 0 20px 25px; height:230px;}

.parentState{ overflow:hidden; padding:15px 20px 15px 120px; position:relative;}
.parentState h3.divTit2{ position:absolute; top:15px; left:20px;}
.parentState .parentStateSel{ overflow:hidden; background:url(../images/common/blt_var4.gif) 0 50% no-repeat; padding-left:20px; height:20px; line-height:20px;}
.parentState .parentStateSel li{ float:left; margin-right:20px; height:20px; line-height:20px;}

.parentStateLst{ padding:15px 20px;}
.parentStateLst ul{ overflow:hidden; margin:0 0 0 -8px; width:656px;}
.parentStateLst li{ float:left; width:122px; margin:0 0 0 8px;}
.parentStateLst li .thum{ padding:5px; border:#f4f4f4 1px solid;width:110px; height:78px;}
.parentStateLst li .thum img{ width:110px; height:78px;}
.parentStateLst li .txt{ margin:8px 0 0 0; text-align:center;}
.stateGhp{ background:url(../images/parent/bg_ghp.gif) 0 0 no-repeat; width:645px; height:358px; margin:0 auto 20px;}
.stateGhp ul{ padding:30px 0 0 12px;}
.stateGhp ul li{ position:relative; padding:0 32px 0 60px; height:35px; line-height:35px;}
.stateGhp ul li .titTx{ width:60px; position:absolute; top:0; left:0; text-align:center; height:35px; line-height:35px;}
.stateGhp ul li .bar{ background:url(../images/parent/ghp_bar.gif) 0 0 no-repeat; height:35px; position:relative;}
.stateGhp ul li.fir .bar{ background-position:0 -50px;}
.stateGhp ul li.last .bar{ background-position:0 -100px;}
.stateGhp ul li .bar span{ width:7px; display:block; position:absolute; top:0; right:0; height:35px; background:url(../images/parent/ghp_bar_run.gif) 0 0 no-repeat;}

.parentControl{ padding:15px 20px;}
.parentControl .parentControlBx{ padding:0 0 0 135px; position:relative;}
.parentControl .parentControlBx .photo{ position:absolute; left:8px; top:0; border:#f4f4f4 1px solid; background:#fff; width:102px; height:102px; padding:5px;}
.parentControl .parentControlBx .photo img{ width:102px; height:102px;}


/* 자녀방 */
.childrenWr{ width:872px; margin:0 auto;}
.childrenWr h3{ background:url(../images/common/blt_line.gif) 0 100% repeat-x; padding:0 0 10px 0; margin:20px 0 20px 0;}
.childrenWr h3 span{ background:url(../images/children/blt_dot2.gif) 0 0 no-repeat; padding:0 0 0 40px; color:#58595b; font-size:15px; font-weight:bold; display:inline-block; height:26px; line-height:26px;}
.childrenRow{ overflow:hidden; clear:both;}
.childrenTx01{ background:url(../images/children/children_txBox.jpg) 0 0 no-repeat; height:32px; line-height:35px; width:535px; padding:0 0 0 25px; margin:-10px 0 0 0; position:relative;}
.childrenTx01 .right{ position:absolute; top:5px; right:20px;}
.childrenLst{ padding:15px 20px;}
.childrenLst ul{ overflow:hidden;}
.childrenLst li{ float:left; margin:0 8px;}
.childrenLst li .thum{ width:110px; height:78px; overflow:hidden; background:#fff; padding:5px; border:#e9e9e9 1px solid;}
.childrenLst li .thum img{width:110px; height:78px; }
.childrenLst li .txt{ text-align:center; margin:8px 0 0 0;}
.childrenLst2{ padding:15px 20px; width:388px; float:left;}
.childrenLst2 ul{ overflow:hidden; margin:0 0 0 -10px;}
.childrenLst2 li{ float:left; margin:0 0 0 10px;}
.childrenLst2 li .thum{ width:110px; height:78px; overflow:hidden; background:#fff; padding:5px; border:#e9e9e9 1px solid;}
.childrenLst2 li .thum img{width:110px; height:78px; }
.childrenLst2 li .txt{ text-align:center; margin:8px 0 0 0;}
.childrenLst3{ padding:15px 20px; width:388px; float:right;}
.childrenLst3 ul{ overflow:hidden; margin:0 0 0 -10px;}
.childrenLst3 li{ float:left; margin:0 0 0 10px;}
.childrenLst3 li .thum{ width:110px; height:78px; overflow:hidden; background:#fff; padding:5px; border:#e9e9e9 1px solid;}
.childrenLst3 li .thum img{width:110px; height:78px; }
.childrenLst3 li .txt{ text-align:center; margin:8px 0 0 0;}
.childrenConVew{ background:url(../images/children/bg_player.gif) 0 0 no-repeat; height:470px; padding:41px 0 0 0;}
.childrenConVew .conMov{text-align:center; width:659px; height:370px; margin:0 auto; background:url(../images/children/bg_box_1.gif) 0 0 no-repeat; padding:8px 0 0 0;}
.childrenConVew .conMov img{ width:640px; height:360px;}
.childrenConVew .btnSc{ margin:44px 40px 0 40px;}


/* 팝업 */
.layPop{position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:999; }
.layPop .bg{position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.popCoupon{ background:url(../images/mypage/bg_popup.png) 50% 50% no-repeat; width:382px; height:326px; position:absolute; top:50%; left:50%; margin:-182px 0 0 -223px; padding:38px 32px 0 32px;}
.popCoupon .tit{ margin:0;}
.popCoupon .popCon{ margin:25px 0 0 0;}
.popCoupon .popCon .regForm{ margin:20px 0 0 0; text-align:center;}
.popCoupon .btClose{ top:12px; right:12px; position:absolute;}




