@charset "utf-8";

body{ background:#9dccf8 url(../images/common/bg.gif) 0 0 repeat-x;}
#divWrapper{ margin:0; padding:0; position:relative; height:100%; background:url(../images/common/bg_container.jpg) 50% 285px no-repeat; min-width:1134px;}
/*#divWrapper:after{ content:".";display:block;height:0;clear:both;visibility:hidden}*/

/* divHeader */
#header{ height:285px; margin:0; background:url(../images/common/bg_gnb.jpg) 50% 45px no-repeat;} 
body#main #header{ height:242px; margin:0; background:url(../images/index/bg_gnb.jpg) 50% 45px no-repeat;} 
#header:after{ content:".";display:block;height:0;clear:both;visibility:hidden;}
#header .divUtill{ width:1134px; height:45px; margin:0 auto; position:relative;}
#header .divUtill ul{ position:absolute; top:13px; right:305px;}
#header .divUtill li{ float:left; padding:0 7px 0 8px; background:url(../images/common/blt_var.gif) 0 4px no-repeat; height:28px;}
#header .divUtill li.fir{ background:none; padding-left:0;}
#header .headSearch{ padding:0 0 15px 0; position:absolute; top:8px; right:90px;}
#header .headSearch .input{ width:147px; height:24px; border:none; vertical-align:middle;}
#header .headSearch .placeholder{ background:url(../images/common/bg_search.png) 0 50% no-repeat; padding:0 0 0 1px;}
#header .headSearch .bt{ vertical-align:middle;}
#header #gnbWrap{ width:1134px; margin:0 auto; position:relative;}
#header #gnbWrap .logo{ position:absolute; top:10px; left:82px;}
#header #gnbWrap #gnb{ overflow:hidden; padding:88px 0 0 352px;}
#header #gnbWrap #gnb li{ float:left;}

/* container */
#container{  z-index:2; min-width:1134px; padding:40px 0 0 0;}
#container #content{ width:918px; background:#fff; margin:0 auto; padding:0 71px 99px; position:relative; }
#container #content:after{ content:".";display:block;height:0;clear:both;visibility:hidden;}
#leftMenu{ float:left; width:181px;}
#divContent{ float:right; width:690px;}
#subDiv{ margin:0 35px;}

#lm{ padding:20px 0 0 0;}
#lm li a{ display:block; height:29px; text-indent:-9999px;}
#lm li li a{display:block; height:24px; text-indent:-9999px;}
#lm li ul{ border-bottom:#e6e6e6 1px solid;}

#lm li a.lm0201{ background:url(../images/common/lm_customer.gif) -182px 0 no-repeat;}
#lm li a.lm0202{ background:url(../images/common/lm_customer.gif) -182px -29px no-repeat;}
#lm li a.lm0203{ background:url(../images/common/lm_customer.gif) -182px -58px no-repeat;}
#lm li a.lm0204{ background:url(../images/common/lm_customer.gif) -182px -87px no-repeat;}
#lm li a.lm0201:hover,#lm li a.lm0201.on{ background:url(../images/common/lm_customer.gif) 0 0 no-repeat;}
#lm li a.lm0202:hover,#lm li a.lm0202.on{ background:url(../images/common/lm_customer.gif) 0 -29px no-repeat;}
#lm li a.lm0203:hover,#lm li a.lm0203.on{ background:url(../images/common/lm_customer.gif) 0 -58px no-repeat;}
#lm li a.lm0204:hover,#lm li a.lm0204.on{ background:url(../images/common/lm_customer.gif) 0 -87px no-repeat;}

#lm li a.lm0501{ background:url(../images/common/lm_mypage.gif) -200px 0 no-repeat;}
#lm li a.lm0502{ background:url(../images/common/lm_mypage.gif) -200px -29px no-repeat;}
#lm li a.lm050201{ background:url(../images/common/lm_mypage.gif) 0 -200px no-repeat;}
#lm li a.lm050202{ background:url(../images/common/lm_mypage.gif) 0 -224px no-repeat;}
#lm li a.lm0503{ background:url(../images/common/lm_mypage.gif) -200px -58px no-repeat;}
#lm li a.lm0504{ background:url(../images/common/lm_mypage.gif) -200px -87px no-repeat;}
#lm li a.lm050401{ background:url(../images/common/lm_mypage.gif) 0 -256px no-repeat;}
#lm li a.lm050402{ background:url(../images/common/lm_mypage.gif) 0 -280px no-repeat;}
#lm li a.lm0505{ background:url(../images/common/lm_mypage.gif) -200px -116px no-repeat;}
#lm li a.lm0506{ background:url(../images/common/lm_mypage.gif) -200px -145px no-repeat;}
#lm li a.lm0501:hover,#lm li a.lm0501.on{ background:url(../images/common/lm_mypage.gif) 0 0 no-repeat;}
#lm li a.lm0502:hover,#lm li a.lm0502.on{ background:url(../images/common/lm_mypage.gif) 0 -29px no-repeat;}
#lm li a.lm050201:hover,#lm li a.lm050201.on{ background:url(../images/common/lm_mypage.gif) -200px -200px no-repeat;}
#lm li a.lm050202:hover,#lm li a.lm050202.on{ background:url(../images/common/lm_mypage.gif) -200px -224px no-repeat;}
#lm li a.lm0503:hover,#lm li a.lm0503.on{ background:url(../images/common/lm_mypage.gif) 0 -58px no-repeat;}
#lm li a.lm0504:hover,#lm li a.lm0504.on{ background:url(../images/common/lm_mypage.gif) 0 -87px no-repeat;}
#lm li a.lm050401:hover,#lm li a.lm050401.on{ background:url(../images/common/lm_mypage.gif) -200px -256px no-repeat;}
#lm li a.lm050402:hover,#lm li a.lm050402.on{ background:url(../images/common/lm_mypage.gif) -200px -280px no-repeat;}
#lm li a.lm0505:hover,#lm li a.lm0505.on{ background:url(../images/common/lm_mypage.gif) 0 -116px no-repeat;}
#lm li a.lm0506:hover,#lm li a.lm0506.on{ background:url(../images/common/lm_mypage.gif) 0 -145px no-repeat;}

#lm li a.lm0601{ background:url(../images/common/lm_parent.gif) -200px 0 no-repeat;}
#lm li a.lm0602{ background:url(../images/common/lm_parent.gif) -200px -29px no-repeat;}
#lm li a.lm0603{ background:url(../images/common/lm_parent.gif) -200px -58px no-repeat;}
#lm li a.lm0601:hover,#lm li a.lm0601.on{ background:url(../images/common/lm_parent.gif) 0 0 no-repeat;}
#lm li a.lm0602:hover,#lm li a.lm0602.on{ background:url(../images/common/lm_parent.gif) 0 -29px no-repeat;}
#lm li a.lm0603:hover,#lm li a.lm0603.on{ background:url(../images/common/lm_parent.gif) 0 -58px no-repeat;}

/* divLocation */
#divLocation{ padding:0; color:#b9c0c6; z-index:3; position:absolute; top:10px; right:74px; text-align:right; line-height:16px;}
#divLocation .location{ padding:0; color:#4db2dc;}
#divLocation .location li{ float:left; padding:0 6px 0 10px; background:url(../images/common/blt_loc.gif) 0 3px no-repeat; height:16px; line-height:16px;}
#divLocation .location li a{ color:#706f6f; font-size:11px; vertical-align:middle; display:block; height:16px;}
#divLocation .location li img{ vertical-align:top;}
#divLocation .location li a:hover{ color:#000; text-decoration:underline;}
#divLocation .location li.current{ color:#939598; padding-right:0; font-size:11px; vertical-align:middle; }
#divLocation .location li.first{ background:none; padding-left:0; vertical-align:middle;}


/* footer */
#footer{ width:1060px; margin:0 auto; background:#5388ba; padding:20px 0; position:relative; min-height:75px;}
#footer .footerLogo{ position:absolute; top:30px; left:40px;}
#footer .footerWrap{ margin:0 0 0 260px;}
#footer .footerMn{ background:#3d6c98 url(../images/common/footer_box.gif) 0 0 no-repeat; height:22px; padding-left:26px;}
#footer .footerMn li{ float:left; background:url(../images/common/blt_var2.gif) 0 6px no-repeat; line-height:22px; padding:0 24px 0 25px;}
#footer .footerMn li.fir{ padding-left:0; background:none;}
#footer .footerMn li a{ line-height:22px; color:#fff;}
#footer address{ margin:10px 0 0 0; color:#fff;}
#footer .copyright{ margin:2px 0 0 0; color:#fff;}

/* heding */
h2.divTit{ border-bottom:#f6f6f6 1px solid; padding:0 0 15px 0; margin:0 0 40px 0; clear:both;}
h3.divTit{ margin:30px 0 10px; padding:0; clear:both;}
h3.divTit2{ margin:0 0 10px; padding:0 0 0 10px; background:url(../images/common/blt_dot4.gif) 0 6px no-repeat; color:#333; font-weight:bold; clear:both;}
h3.divTit3{ margin:0 0 10px; padding:0 0 0 10px; background:url(../images/common/blt_dot6.gif) 0 6px no-repeat; color:#58595b; font-weight:bold; font-size:14px; clear:both;}
h4.divTit{ margin:30px 0 5px; padding:0;}
h4.divTit2{ background: url(../images/common/blt_dot6.gif) 0 6px no-repeat; padding-left:10px; font-size:14px; color:#58595b; margin:30px 0 10px;}
